@import '../assets/styles/variables';

.CustomerQuerySummary {
  .card {
    background: #fff;
    padding: 20px;
    box-shadow: $shadowShort;
    max-width: 600px;
  }

  p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
  }

  strong {
    display: block;
  }
}
